.App {
  display: flex;
  flex-direction: column;
}
.App .navBar {
  background: darkgrey;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.App .navBar input {
  background: url("../pictures/search.gif");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  border: 2px solid crimson;
  width: 200px;
}
.App .navBar input:focus {
  background: none;
  background: white;
}
.App .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App .cards .card {
  border-radius: 10px;
  border: 2px solid black;
  width: 300px;
  height: 30%;
  margin: 20px;
  overflow: hidden;
}
.App .cards .card .model {
  position: relative;
  top: 20px;
  left: 20px;
  background: red;
  width: 60px;
  height: 60px;
}
.App .cards .card .card-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: lightgrey;
}
.App .cards .add-card {
  width: 300px;
  height: 245px;
  border-radius: 10px;
  border: 2px solid black;
  margin: 20px;
  background-image: url(https://www.pngarts.com/files/3/Plus-Symbol-PNG-Photo.png);
  background-size: 300px 245px;
}
