.App {
  display: flex;
  flex-direction: column;
}
.App .navBar {
  background: darkgrey;
}
.App .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.App .cards .card {
  border: 2px solid black;
  width: 300px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
}
