//type : less-watch-compiler  less css App.less

.App {
  @media (max-width: 400px) {
    .row h1 {
      margin-left: 110px;
    }
  }
  display: flex;
  flex-direction: column;
  .navBar {
    background: darkgrey;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    input {
      background: url("../pictures/search.gif");
      background-repeat: no-repeat;
      background-size: 25px 25px;
      //text-indent: 20px;
      border: 2px solid crimson;
      width: 200px;
    }

    input:focus {
      background: none;
      background: white;
    }
    @media (max-width: 400px) {
      display: flex;
      flex-direction: column;
      height: 100px;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      border-radius: 10px;
      border: 2px solid black;
      width: 300px;
      height: 30%;
      margin: 20px;
      overflow: hidden;
      .model {
        position: relative;
        top: 20px;
        left: 20px;
        background: red;
        width: 60px;
        height: 60px;
        // z-index: 1;
      }
      .card-detail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: lightgrey;
      }
    }
    .add-card {
      width: 300px;
      height: 245px;
      border-radius: 10px;
      border: 2px solid black;
      margin: 20px;
      background-image: url(https://www.pngarts.com/files/3/Plus-Symbol-PNG-Photo.png);
      background-size: 300px 245px;
    }
  }
}
