.App {
  display: flex;
  flex-direction: column;
  .navBar {
    background: darkgrey;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    input {
      background: url("../pictures/search.gif");
      background-repeat: no-repeat;
      background-size: 25px 25px;
      //text-indent: 20px;
      border: 2px solid crimson;
      width: 200px;
    }

    input:focus {
      background: none;
      background: white;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
      border-radius: 10px;
      border: 2px solid black;
      width: 300px;
      height: 30%;
      margin: 20px;
      overflow: hidden;
      .card-detail {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: lightgrey;
      }
    }
    .add-card {
      width: 300px;
      height: 245px;
      border-radius: 10px;
      border: 2px solid black;
      margin: 20px;
    }
  }
}
